.error {
    &__text-sorry {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-top: 25px
    }
    &__link-prev {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 28px;
        margin-top: 15px;
        color: #9f0013
    }
    &__link-main {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 28px;
        margin-top: 10px;
        color: #9f0013
    }
}